.container {
  max-width: 23.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  row-gap: 4rem;
  padding-inline: 2rem;
  margin: 4rem auto 0rem auto;
}

.player,
.computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.player span,
.computer span {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.computer > .blank {
  background-color: hsl(216, 34%, 14%);
  opacity: 0.4;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  margin-bottom: 0.4rem;
}

.circleOne {
  background-color: hsl(0, 0%, 100%);
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleTwo {
  background-color: #ccc;
  height: 5.9rem;
  width: 5.6rem;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
}

.scissorsInnerContainer,
.spockInnerContainer,
.paperInnerContainer,
.lizardInnerContainer,
.rockInnerContainer {
  height: 7.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.scissorsInnerContainer {
  background-color: hsl(40, 84%, 53%);
}

.spockInnerContainer {
  background-color: hsl(189, 59%, 53%);
}

.paperInnerContainer {
  background-color: hsl(230, 89%, 62%);
}

.lizardInnerContainer {
  background-color: hsl(261, 73%, 60%);
}

.rockInnerContainer {
  background-color: hsl(349, 71%, 52%);
}

.scissorsOuterContainer,
.spockOuterContainer,
.paperOuterContainer,
.lizardOuterContainer,
.rockOuterContainer {
  height: 7.9rem;
  width: 7.5rem;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.scissorsOuterContainer {
  background-color: hsl(39, 94%, 37%);
}

.spockOuterContainer {
  background-color: hsl(189, 69%, 33%);
}

.paperOuterContainer {
  background-color: hsl(230, 92%, 51%);
}

.lizardOuterContainer {
  background-color: hsl(261, 72%, 28%);
}

.rockOuterContainer {
  background-color: hsl(349, 74%, 30%);
}

.image {
  width: 2.6rem;
  height: auto;
}

.result {
  width: 100%;
  text-align: center;
}

.result > span {
  display: block;
  color: hsl(0, 0%, 100%);
  font-size: 3.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.result > button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(229, 25%, 31%);
  width: 14rem;
  height: 3rem;
  font: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
}

.winner {
  background: repeating-radial-gradient(
    circle at center,
    hsl(214, 47%, 23%) 0,
    hsl(237, 49%, 15%) 0.6rem
  );
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  animation: scale 2s ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media (hover: hover) {
  .result > button:hover {
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 100%);
  }
}

@media (max-width: 22rem) {
  .container {
    margin-inline: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin-top: 3rem;
  }
  .result {
    margin-top: 2rem;
  }
  .result > button {
    width: 10rem;
  }
}

@media (min-width: 44rem) {
  .container {
    max-width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-inline: 0;
  }
  .player,
  .computer {
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .player span,
  .computer span {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
  }
  .computer > .blank {
    height: 13rem;
    width: 13rem;
    position: relative;
    top: 2rem;
  }
  .circleOne {
    width: 13rem;
    height: 13rem;
  }
  .circleTwo {
    width: 13rem;
    height: 13.6rem;
  }
  .scissorsInnerContainer,
  .spockInnerContainer,
  .paperInnerContainer,
  .lizardInnerContainer,
  .rockInnerContainer {
    height: 17rem;
  }
  .scissorsOuterContainer,
  .spockOuterContainer,
  .paperOuterContainer,
  .lizardOuterContainer,
  .rockOuterContainer {
    height: 17.8rem;
    width: 17rem;
  }
  .image {
    width: 6rem;
  }
  .winner {
    background: repeating-radial-gradient(
      circle at center,
      hsl(214, 47%, 23%) 0.5rem,
      hsl(237, 49%, 15%) 1.6rem
    );
    width: 14rem;
    height: 14rem;
  }
}

@media (min-width: 70rem) {
  .container {
    max-width: 65rem;
    display: grid;
    /* grid-template-columns: 37.5% 25% 37.5%; */
    grid-template-areas: "player result computer";
    gap: 3rem;
  }
  .player {
    grid-area: player;
  }
  .result {
    grid-area: result;
    align-self: center;
    margin-top: 3rem;
    margin-inline: 1.5rem;
    width: auto;
  }
  .computer {
    grid-area: computer;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(3);
    opacity: 0.4;
  }
}
