.backdrop {
  background-color: hsl(0, 0%, 80%);
  opacity: 0.2;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.container > h2 {
  color: hsl(229, 25%, 31%);
  font-size: 2rem;
  text-transform: uppercase;
}

.close {
  cursor: pointer;
}

@media (max-width: 22rem) {
  .rules {
    width: 100%;
  }
}

@media (min-width: 44rem) {
  .container {
    width: 25rem;
    height: fit-content;
    padding: 1.5rem 2rem 3rem 2rem;
    left: calc(50% - 12.5rem);
    top: calc(50% - 225px);
    display: grid;
    grid-template-rows: 3rem auto;
    grid-template-areas:
      "title close"
      "rules rules";
    gap: 0rem;
  }
  .container > h2 {
    grid-area: title;
    line-height: 1.7rem;
    align-self: flex-start;
  }
  .close {
    grid-area: close;
    justify-self: flex-end;
    align-self: flex-start;
  }
  .rules {
    grid-area: rules;
  }
}
