.container {
  overflow: hidden;
}

header {
  padding: 2rem;
}

header > div {
  padding: 0.65rem 0.65rem 0.65rem 1.5rem;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 span {
  color: hsl(0, 0%, 100%);
  display: block;
  font-size: 0.76rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.64rem;
}

header .score {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.3rem;
  padding: 0.65rem 1.5rem 1rem 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.46rem;
}

header .score > :first-child {
  color: hsl(229, 64%, 46%);
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

header .score > :last-child {
  color: hsl(229, 25%, 31%);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.6rem;
}

footer {
  text-align: center;
  padding: 3.5rem 0;
}

footer > button {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  width: 8rem;
  height: 2.6rem;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  font: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  outline: none;
  cursor: pointer;
}

@media (hover: hover) {
  footer > button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(229, 25%, 31%);
  }
}

@media (max-width: 20.75rem) {
  header > div {
    padding: 0.5rem 0.4rem 0.5rem 0.6rem;
  }
}

@media (min-width: 44rem) {
  header {
    padding: 3rem;
    max-width: 48rem;
    margin-inline: auto;
  }
  header > div {
    padding: 1rem 1.4rem 1rem 1.8rem;
    border-radius: 0.7rem;
  }
  header h1 span {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3rem;
  }
  header .score {
    width: 8.6rem;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem 1rem 1.4rem;
  }
  header .score > :first-child {
    font-size: 1rem;
  }
  header .score > :last-child {
    font-size: 3.8rem;
    line-height: 2.9rem;
  }
  footer {
    text-align: right;
    padding: 2rem;
  }
}
